* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
} 

input {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
}

button {
  outline: none;
}

ul,
ol,
li,
em {
  list-style: none;
  font-style: normal;
}

@font-face {
  font-family: 'iconfont';  /* project id 1304508 */
  src: url('//at.alicdn.com/t/font_1304508_bowe5wobpr.eot');
  src: url('//at.alicdn.com/t/font_1304508_bowe5wobpr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1304508_bowe5wobpr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1304508_bowe5wobpr.woff') format('woff'),
  url('//at.alicdn.com/t/font_1304508_bowe5wobpr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1304508_bowe5wobpr.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}