$buttonColor = #4566ae
$tipColor = #F6AA00
$upColor = #84BB8D
$downColor = #E2644E
.el-message
  padding 0.2rem
  min-width 4rem
  .el-message__icon
    font-size 0.4rem
  .el-message__content
    padding-right 0.16rem
    font-size 0.28rem
  .el-message__closeBtn
    right 0.15rem
.common-button
  display flex
  justify-content center
  align-items center
  width 100%
  height 1rem
  border none
  border-radius 0.2rem
  background-color $buttonColor
  font-size 0.34rem
  font-weight bold
  color #fff
  &--primary
    border 0.02rem solid $buttonColor
    background none
    color $buttonColor
  &:active, &:hover
    background-color $buttonColor
    color #fff
    opacity 1
    span
      color #fff
  // &.is-loading:before
  // background-color transparent
  .el-icon-loading
    color #fff
.fixed__header
  position fixed
  top 0
  left 0
  width 100%
  background-color #fff
.main__header
  height 0.88rem
  border-bottom 0.02rem solid #F3F2F2
.main__confirm
  line-height 0.48rem
  font-size 0.34rem
  color #8E8E93
.account
  .content
    padding 0 0.3rem
  &__header
    height 0.86rem
  &__title
    margin-top 0.5rem
    line-height 0.66rem
    font-size 0.48rem
  &__form
    margin-top 0.8rem
    .form-item
      position relative
      margin-top 0.6rem
      height 0.4rem
      &:first-child
        margin-top 0
      input
        position relative
        display block
        width 100%
        height 100%
        padding 0 1.52rem
        background-color transparent
        font-size 0.28rem
      .prefix, .suffix
        position absolute
        top 0
        height 100%
        font-size 0.28rem
        color #C7C7CC
      .preifx
        left 0
      .suffix
        right 0
    .common-button
      margin-top 0.8rem
  &__handle
    display flex
    justify-content space-between
    margin-top 0.4rem
    a
      line-height 0.4rem
      font-size 0.28rem
      color #FF9500
.user
  .form-item
    position relative
    margin-left 0.32rem
    height 1rem
    border-bottom 0.01rem solid rgba(0, 0, 0, 0.25)
    input
      position relative
      display block
      width 100%
      height 100%
      padding 0 1.5rem
      background-color transparent
      font-size 0.28rem
    .prefix, .suffix
      position absolute
      top 0
      display flex
      align-items center
      height 100%
      font-size 0.28rem
      color #C7C7CC
    .preifx
      left 0
    .suffix
      right 0.3rem
.assets-header
  background-color $buttonColor
  .title
    position relative
    h2, .prefix, .suffix
      line-height 0.44rem
      font-size 0.32rem
      color #fff
    h2
      font-weight 500
      text-align center
    .prefix, .suffix
      position absolute
      top 0
      display flex
      align-items center
      height 100%
      font-size 0.28rem
    .prefix
      left 0.18rem
    .suffix
      right 0.3rem
